@using HayvanBarinagiCalisma.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Kategoriler"] = SharedLocalizer.GetLocalizedHtmlString("Kategoriler");
    ViewData["Al"] = SharedLocalizer.GetLocalizedHtmlString("Al");
}
@{
    ViewData["Title"] = "Rezerve";
}
@model ArabalarTurMarkaViewModel
<div class="row mt-5">

    <div class="col-lg-3 mb-5">
        <div class="list-group">
            <a asp-controller="Home" asp-action="Sahiplenme" class="list-group-item list-group-item-action bg-secondary text-light">
             Araç Kategorileri

            </a>
            @foreach (var tur in Model.Tur)
            {
                <a asp-controller="Home" asp-action="TurDetay" asp-route-id="@tur.TurId" class="list-group-item list-group-item-action">@tur.TurAdi</a>
            }

        </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">



        <div class="row">
            @foreach (var araba in Model.Araba)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a asp-controller="Home" asp-action="RezerveDetay" asp-route-id="@araba.ArabaId"><img class="card-img-top" src="@araba.Foto" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a asp-controller="Home" asp-action="RezerveDetay" asp-route-id="@araba.ArabaId">@araba.Adi</a>
                            </h4>
                            <h5>@araba.Tur.TurAdi</h5>
                            <p class="card-text">@araba.EkBilgiler</p>
                        </div>
                        <div class="card-footer">
                            <a type="button" class="btn btn-secondary float-right" asp-controller="Home" asp-action="RezerveDetay" asp-route-id="@araba.ArabaId">@ViewData["Al"]</a>
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>

